.lkt-tooltip {
    display: var(--lkt-tooltip--display, inline-flex);
    align-items: var(--lkt-tooltip--align-items, center);
    justify-content: var(--lkt-tooltip--justify-content, center);
    gap: var(--lkt-tooltip--gap);
    padding: var(--lkt-tooltip--padding);
    min-width: var(--lkt-tooltip--min-width);
    max-width: var(--lkt-tooltip--max-width);
    width: var(--lkt-tooltip--width);
    background: var(--lkt-tooltip--background);
    border-radius: var(--lkt-tooltip--border-radius);
    border-width: var(--lkt-tooltip--border-width);
    border-style: var(--lkt-tooltip--border-style);
    border-color: var(--lkt-tooltip--border-color);
    font-size: var(--lkt-tooltip--font-size);
    font-weight: var(--lkt-tooltip--font-weight);
    color: var(--lkt-tooltip--color);
    text-align: var(--lkt-tooltip--text-align);
    transition: var(--lkt-tooltip--transition);
    box-shadow: var(--lkt-tooltip--shadow);
    z-index: var(--lkt-tooltip--z-index, 200);
}

.lkt-tooltip:hover {
    background: var(--lkt-tooltip--hover--background);
    border-color: var(--lkt-tooltip--hover--border-color);
    color: var(--lkt-tooltip--hover--color);
}

.lkt-tooltip-content {
    width: var(--lkt-tooltip--content--width, 100%);
    height: var(--lkt-tooltip--content--height, 100%);
}