:root {
    --lkt-tooltip-gap: 15px;
    --lkt-tooltip-font-size: 14px;
    --lkt-tooltip-font-weight: 14px;
    --lkt-tooltip-text-align: center;
    --lkt-tooltip-padding: 15px;
    --lkt-tooltip-min-width: initial;
    --lkt-tooltip-max-width: initial;
    --lkt-tooltip-width: initial;
    --lkt-tooltip-bg: #ffffff;
    --lkt-tooltip-bg-hover: #ffffff;
    --lkt-tooltip-color: #444444;
    --lkt-tooltip-color-hover: #444444;
    --lkt-tooltip-border-radius: 1px;
    --lkt-tooltip-border-width: 1px;
    --lkt-tooltip-border-style: solid;
    --lkt-tooltip-border-color: #ffffff;
    --lkt-tooltip-border-color-hover: #ffffff;
    --lkt-tooltip-transition: all linear 300ms;
}